Client/Connected Services/ServiceReference1/DQService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DQService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="MyServiceEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:5417/ServiceMetadata?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:5417/ServiceMetadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:5417/ServiceMetadata?xsd=xsd2" namespace="http://www.wantong-tech.net/2011/prisonecs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDQService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IDQService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IDQService_Excute_InputMessage">
    <wsdl:part name="parameters" element="tns:Excute" />
  </wsdl:message>
  <wsdl:message name="IDQService_Excute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcuteResponse" />
  </wsdl:message>
  <wsdl:portType name="IDQService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IDQService/Ping" message="tns:IDQService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDQService/PingResponse" message="tns:IDQService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excute">
      <wsdl:input wsaw:Action="http://tempuri.org/IDQService/Excute" message="tns:IDQService_Excute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDQService/ExcuteResponse" message="tns:IDQService_Excute_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyServiceEndPoint" type="tns:IDQService">
    <wsp:PolicyReference URI="#MyServiceEndPoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IDQService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excute">
      <soap12:operation soapAction="http://tempuri.org/IDQService/Excute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DQService">
    <wsdl:port name="MyServiceEndPoint" binding="tns:MyServiceEndPoint">
      <soap12:address location="net.tcp://127.0.0.1:5418/DQService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:5418/DQService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>