Client/Connected Services/ServiceReference1/ServiceMetadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:5417/ServiceMetadata?xsd=xsd2" namespace="http://www.wantong-tech.net/2011/prisonecs" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Excute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.wantong-tech.net/2011/prisonecs" minOccurs="0" name="cmd" nillable="true" type="q1:Command" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcuteResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>